div {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 12px;
  border-radius: 5px;
  background: #ffe4e4;
  max-width: 200px;
}

img {
  width: 33px;
  height: 33px;
}

.B {
  color: #de1515;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.12px;
}

h1 {
  font-weight: 400;
}

.A {
  color: #de1515;
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.12px;
}

h2 {
  color: rgba(222, 21, 21, 0.6);
  text-align: center;
  font-family: "Roboto Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.08px;
}
